<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KIP_Omniture.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KIP_Omniture.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="KIP_Omniture.Properties.Settings.World_DataConnectionString"
            connectionString="Data Source=kip-awareness.cnnxpazukb57.eu-west-1.rds.amazonaws.com;Initial Catalog=World_Data;User ID=Awareness;Password=AwarenessPassword"
            providerName="System.Data.SqlClient" />
        <add name="KIP_Omniture.Properties.Settings.Awareness_MapConnectionString"
            connectionString="Data Source=kip-awareness.cnnxpazukb57.eu-west-1.rds.amazonaws.com;Initial Catalog=Awareness_Map;Persist Security Info=True;User ID=Awareness;Password=AwarenessPassword"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <KIP_Omniture.Properties.Settings>
            <setting name="CreateReportEndpoint" serializeAs="String">
                <value>https://api3.omniture.com/admin/1.4/rest/?method=Report.Queue</value>
            </setting>
            <setting name="CreateReportRequest" serializeAs="String">
                <value>X-WSSE: UsernameToken Username="jeff.herz:Novartis Pharma AG", PasswordDigest="Dt3sCPjFCjyXCij1/Q+tuxyccMQ=", Nonce="ZWFmZTU0MTIzOGNiZjhiZjQ1MTg3NjZk", Created="2015-08-13T20:43:29Z"</value>
            </setting>
        </KIP_Omniture.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <KIP_Omniture.Properties.Settings>
            <setting name="USERNAME" serializeAs="String">
                <value>jeff.herz:Novartis Pharma AG</value>
            </setting>
            <setting name="SECRET" serializeAs="String">
                <value>0996c7669837c54a5f3e6590e926279b</value>
            </setting>
            <setting name="ENDPOINT" serializeAs="String">
                <value>https://api3.omniture.com/admin/1.4/rest/</value>
            </setting>
        </KIP_Omniture.Properties.Settings>
    </userSettings>
</configuration>